<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
  <title>Game Taste</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      console.log("scrollFunction called");
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        console.log("scrollPosition > 20");
        document.getElementById("scroll-to-top-button").style.display = "block";
      } else {
        console.log("scrollPosition <= 20");
        document.getElementById("scroll-to-top-button").style.display = "none";
      }
    }

    function topFunction() {
      console.log("topFunction called");
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  </script>
</head>
<body>
<header th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand">
        <div class="logo">
          <img src="/images/GameTasteLogo.png" alt="GameTaste">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <th:block th:if="${session.user!= null}">
            <li class="text-center text-white">
              <a class="nav-button-welcome" th:text="'Welcome, ' + ${session.user.username} + '!'"></a>
            </li>
          </th:block>
          <li>
            <a class="nav-button" href="/">Home</a>
          </li>
          <th:block th:if="${session.user != null}">
            <li>
              <a class="nav-button" href="/users/items">My Items</a>
            </li>
            <li>
              <a class="nav-button" href="/games/all">All Games</a>
            </li>
            <li>
              <a class="nav-button" href="/merchandises/all">Merchandise</a>
            </li>
            <li>
              <a class="nav-button" href="/news">News</a>
            </li>
          </th:block>
          <th:block th:if="${session.user == null}">
            <li>
              <a class="nav-button" href="/users/login">Login</a>
            </li>
            <li>
              <a class="nav-button" href="/users/register">Register</a>
            </li>
          </th:block>
          <th:block th:if="${session.user != null}">
            <li>
              <a class="nav-button" href="/users/logout">Logout</a>
            </li>
          </th:block>
          <th:block th:if="${session.user != null and session.user.getUserRoleEnum().name() == 'ADMIN'}">
            <li>
              <a class="nav-button" href="/users/admin">Admin</a>
            </li>
          </th:block>
          <li class="d-lg-none text-center">
            <div class="logo">
              <img src="/images/GameTasteLogo.png" alt="GameTaste" style="height: 250px; margin-top: -10px">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<footer th:fragment="footer">
  <button onclick="topFunction()" class="scroll-to-top-button" id="scroll-to-top-button" title="Go to top">
    <i class="fa fa-arrow-up"></i>
  </button>
  <p> &copy;Game Taste 2023. All rights reserved.</p>
</footer>
</body>
</html>