<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head}"></head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<form class="mx-auto w-25 bg-blur" action="/news/add" method="POST" th:object="${newsCreateBindingModel}">
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-info">Add News</span></h1>
    <div class="form-group">
        <div class="label-holder textCol d-flex justify-content-center">
            <label for="imageUrl" class="h4 mb-2 text-white">Image URL</label>
        </div>
        <input th:field="*{imageUrl}" th:errorclass="bg-danger" type="text" class="form-control" id="imageUrl"
               name="imageUrl"/>
        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">imageUrl Error message</small>
    </div>
    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="fromDate" class="h4 mb-2">News Release Date</label>
        </div>
        <input th:field="*{fromDate}" th:errorclass="bg-danger" type="date" class="form-control" id="fromDate" name="fromDate"/>
        <small th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}" class="text-danger">Release Date error message</small>
    </div>
    <div class="form-group">
        <div class="label-holder textCol d-flex justify-content-center">
            <label for="title" class="h4 mb-2 text-white">Title</label>
        </div>
        <input th:field="*{title}" th:errorclass="bg-danger" type="text" class="form-control" id="title"
               name="title"/>
        <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title error message</small>
    </div>
    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="description" class="h4 mb-2">Description</label>
        </div>
        <textarea th:field="*{description}" th:errorclass="bg-danger" class="form-control" id="description" name="description"></textarea>
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description error message</small>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-light mb-3 bg-info" value="Register">Create News</button>
    </div>
</form>
</body>
<footer th:replace="~{commons/fragments::footer}"></footer>
</html>